// App variables

// - colors
$black: #000000;
$white: #ffffff;

$gray-light: #EFF3F6;
$gray: #535F76;

$blue-darker: #18202E;
$blue-dark: #151C2E;
$blue: #0097f7;
$red: rgba(185, 22, 22, 0.966);
$green: #9dbd2d;

// - layout
// -- left menu
$left-menu-width: 24rem;
$left-menu-bg: $blue-darker;
$left-menu-link-hover: #1C2431;
$left-menu-link-color: #919BAE;
$left-menu-title-color: #5B626F;
$left-menu-font-size: 1.4rem;


// -- header
$header-height: 6rem;
$header-space: 2rem;
$header-font-size: 1.5rem;

// -- content
$content-background: #FAFAFB;
